// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .header-image {
      display: block;
      width: 100%;
      text-align: center;
      background: url('https://aberdeenregisters.files.wordpress.com/2016/05/cropped-header-image.jpg') no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }

  .headline {
      padding: 120px 0;
  }

  .headline h1 {
      background: #fff;
      background: rgba(255,255,255,0.9);
  }

  .headline h2 {
      background: #fff;
      background: rgba(255,255,255,0.9);
  }

  .featurette-divider {
      margin: 80px 0;
  }

  .featurette {
      overflow: hidden;
  }

  .featurette-image.pull-left {
      margin-right: 40px;
  }

  .featurette-image.pull-right {
      margin-left: 40px;
  }


  @media(max-width:1200px) {

      .featurette-divider {
          margin: 50px 0;
      }

      .featurette-image.pull-left {
          margin-right: 20px;
      }

      .featurette-image.pull-right {
          margin-left: 20px;
      }
  }

  @media(max-width:991px) {
      .featurette-divider {
          margin: 40px 0;
      }

      .featurette-image {
          max-width: 50%;
      }

      .featurette-image.pull-left {
          margin-right: 10px;
      }

      .featurette-image.pull-right {
          margin-left: 10px;
      }
  }

  @media(max-width:768px) {
      .container {
          margin: 0 15px;
      }

      .featurette-divider {
          margin: 40px 0;
      }

  }

  @media(max-width:668px) {

      .featurette-divider {
          margin: 30px 0;
      }
  }

  @media(max-width:640px) {
      .headline {
          padding: 75px 0 25px 0;
      }
  }

  @media(max-width:375px) {
      .featurette-divider {
          margin: 10px 0;
      }

      .featurette-image {
          max-width: 100%;
      }

      .featurette-image.pull-left {
          margin-right: 0;
          margin-bottom: 10px;
      }

      .featurette-image.pull-right {
          margin-bottom: 10px;
          margin-left: 0;
      }
  }

  #home-bg{
    background-color: #c8102e;
  }
