// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .header-image {
      display: block;
      width: 100%;
      text-align: center;
      background: url('https://aberdeenregisters.files.wordpress.com/2016/05/cropped-header-image.jpg') no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }

  .headline {
      padding: 120px 0;
  }

  .headline h1 {
      background: #fff;
      background: rgba(255,255,255,0.9);
  }

  .headline h2 {
      background: #fff;
      background: rgba(255,255,255,0.9);
  }

  .featurette-divider {
      margin: 80px 0;
  }

  .featurette {
      overflow: hidden;
  }

  .featurette-image.pull-left {
      margin-right: 40px;
  }

  .featurette-image.pull-right {
      margin-left: 40px;
  }


  @media(max-width:1200px) {

      .featurette-divider {
          margin: 50px 0;
      }

      .featurette-image.pull-left {
          margin-right: 20px;
      }

      .featurette-image.pull-right {
          margin-left: 20px;
      }
  }

  @media(max-width:991px) {
      .featurette-divider {
          margin: 40px 0;
      }

      .featurette-image {
          max-width: 50%;
      }

      .featurette-image.pull-left {
          margin-right: 10px;
      }

      .featurette-image.pull-right {
          margin-left: 10px;
      }
  }

  @media(max-width:768px) {
      .container {
          margin: 0 15px;
      }

      .featurette-divider {
          margin: 40px 0;
      }

  }

  @media(max-width:668px) {

      .featurette-divider {
          margin: 30px 0;
      }
  }

  @media(max-width:640px) {
      .headline {
          padding: 75px 0 25px 0;
      }
  }

  @media(max-width:375px) {
      .featurette-divider {
          margin: 10px 0;
      }

      .featurette-image {
          max-width: 100%;
      }

      .featurette-image.pull-left {
          margin-right: 0;
          margin-bottom: 10px;
      }

      .featurette-image.pull-right {
          margin-bottom: 10px;
          margin-left: 0;
      }
  }

  #search-home{
    textarea:focus, input:focus, .uneditable-input:focus {
      border-color: rgba(119, 119, 119, 0.8) !important;
      box-shadow: 0 1px 1px rgba(119, 119, 119, 0.075) inset, 0 0 8px rgba(119, 119, 119, 0.6) !important;
      outline: 0 none !important;
    }
    width: 100%;
    align-self: center;
  }

  #search-container{
    padding-top: 180px;
    padding-bottom: 180px;

  }

  #home-middle{

    width: 100%;
    height: 360px;
    display: block;
    position: relative;

  }

  #home-middle::after {
  content: "";
  background-image: url(/assets/middle2.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  margin-left: 30px;
  margin-right: 30px;
}



  #h1-home-light-text{
    color: #ffffff;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  }

  #p-home-light-text{
    color: #777
  }

  .h2-home{
    text-align: center;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  }

  #home-top-container{
    background-color: #888888;
    width: 100%;
    margin-top: -20px;
    margin-bottom: -20px;

  }



  .jumbotron{
    background-color: #1d1d1d;
    padding-left: 0px ;
    padding-right: 0px;
    box-shadow: 7px 7px 5px #222222;
  }
