<div class="container">
  <h1>Enter Query</h1>
  <%= form_tag(query_path, :method => "post", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Query Database" %>
  <%= submit_tag "Search" %>
  <% end %>

  <h3>How do I use XQuery?</h3>
  <a href="https://www.w3schools.com/xml/xquery_intro.asp" target="_blank">A helpful guide on XQuery provided by w3schools</a>

  <br>
  <br>

  <h1 align ="center">Basic XQuery examples</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <h2>Search for element</h2>
            <p>Xquery can be used to return all elements of an input</p>
            <h4><font color =blue>//language</font></h4>
          </div>
          <div class="col-md-4">
            <h2>Specific Element Query</h2>
            <p>XQuery also allows you to search for specific elements.This is done simply by adding some extra text to the simple element search</p>
            <h4><font color = blue>//element1[name = "type1"]</font></h4>
         </div>
         <div class="col-md-4">
            <h2>Basic Query Example 3</h2>
            <p>text</p>
            <h4><font color = blue>query input</font></h4>
         </div>
        </div>
      </div>
  
  <br>

  <h1 align ="center">Advanced XQuery Examples</h1>
 

























</div>
