/*-----------------------------------------------------------------------------------------------
----- HisTEI framework customizations for Oxygen
-----   CSS Styles for global fields - used in documents and contextual info
-------------------------------------------------------------------------------------------------*/

/* Global Fields */

/* All Labels */
*:before {
    font-weight:bold;
    padding-left:1px;
    padding-top:1px;
    padding-bottom:1px;
    padding-right:10px;
}

/* Field Icons */
.date:before,
.persName:before,
.orgName:before,
.placeName:before,
.district:before,
.settlement:before,
.region:before,
.country:before,
.bloc:before,
.address:before,
.addrLine:before,
.street:before,
.postCode:before,
.postBox:before {
    padding-right: 2px;
    vertical-align: middle;
}

.date:before {
  content: url('date-16.png');
}
.persName:before {
  content: url('person-16.png');
}
.orgName:before {
  content: url('org-16.png');
}
.placeName:before {
  content: url('place-16.png');
}
.district:before {
  content: url('district-16.png');
}
.settlement:before {
  content: url('settlement-16.png');
}
.region:before {
  content: url('region-16.png');
}
.country:before {
  content: url('country-16.png');
}
.bloc:before {
  content: url('bloc-16.png');
}

/* Address */
.address:before {
  content: url('address-16.png');
}
.addrLine:before {
  content: url('address_line-16.png');
}
.street:before {
  content: url('street-16.png');
}
.postCode:before {
  content: url('postcode-16.png');
}
.postBox:before {
  content: url('postbox-16.png');
}

/* Date */

.date:empty:after,
.date:not(:empty):focus:after,
.birth,
.death,
.event,
.affiliation,
.education:focus:after,
.faith:focus:after,
.occupation:focus:after,
.relation:focus:after,
.residence,
.socecStatus:focus:after,
.state:focus:after,
.trait:focus:after {
    border:1px solid;
    margin:2px 0px;
    padding:3px;
    font-size:small;
    font-weight:normal;
    line-height:1.25em;
}

/* Links */
 .ptr, .ref, .note[data-type="url"] {
    color:blue;
}

.ptr, .ref {
    border:1px dashed;
}

.ptr:before,
.ref:before {
    padding-right: 2px;
    vertical-align: middle;
    content: url('link-16.png');
}

.ptr[data-target]:after,
.ref[data-target]:after {
    padding-left: 5px;
    vertical-align: middle;
    content: url('link_open-16.png');
}

.ptr:hover:after,
.ref:focus:after {
  padding:5px;
  content: attr(target);
  vertical-align: sub;
}


.note[data-type="url"]:after {
  padding-left:5px;
  vertical-align: middle;
  content: url('link_open-16.png');
}

/* Headings & Labels */

.head {
    display:block;
    font-weight:bold;
    padding:5px;
    border-bottom:1px solid;
}

.head[data-type="title"] {
    font-size:larger;
}

.head[data-type="sub"] {
    font-size:smaller;
    font-variant:small-caps;
}

.head:before {
    padding-right: 2px;
    vertical-align: middle;
    content:url('head-16.png') attr(type)"  ";
}

.label {
    display:block;
    font-weight:bold;
    padding:2px;
    margin:3px;
}

.label:before{
    padding-right: 2px;
    vertical-align: middle;
    content: url('label-16.png');
}

/* Paragraph and accompanying Line Break */

.p:before{
    padding: 0px;
    vertical-align: middle;
    content: url('paragraph-16.png');
}

.p {
    display:block;
    padding:2px;
    margin:2px;
    margin-bottom: 10px;
}

.lb::after  {
  content:url('line_break-12.png') "\A";
}

.lb[data-break="yes"] {
  /*display: block;*/
}

.lb[data-break="no"] {
    color:purple;
    font-weight:bold;
    /* Possibilities: → – */
    content:"→\A";
}


/* Global Textual Styles */
.hi[data-rend="bold"] {
  font-weight:bold;
}

.hi[data-rend="italic"] {
  font-style:italic;
}

.hi[data-rend="superscript"] {
    font-size:small;
    vertical-align:super;
}

.hi[data-rend="subscript"] {
    font-size:small;
    vertical-align:sub;
}

.hi[data-rend="underline"] {
  text-decoration:underline;
}
