
 <% if notice %>
   <div class="alert alert-info">
       <p class="notice"><%= notice %></p>
   </div>
 <% end %>
 <% if alert %>
   <div class="alert alert-info">
     <p class="alert"><%= alert %></p>
   </div>
 <% end %>
