<h3>Document: ARO-4-0001-01</h3>
 <hr>
 <div class="col-lg-12">
   <div class="well col-lg-6 text-center">
     <%= image_tag("doc-images/gb0230ca000100001-00008-00706.jpg", :class=> "img-rounded", :height=> "450px") %>
     <hr>
     <%= button_tag "Download Image", :style=>"float: right;" %>
   </div>
   <div class="well col-lg-5 col-lg-offset-1">
     <%= text_area_tag 'trans', 'Eodem die dominus Willelmus de leith capellanus et procurator altaris beati Jacobi apostoli in ecclesia parochiali dicti burgi presens ad barram asseruit se accessisse ad quandam terram in vico castri dicti burgi ex parte australi eiusdem vici Jacentis inter terram gilberti meignez ex parte orientali et terram quondem Roberti Jhonson ex parte occidentali et De qua terra ne asseruit debentur quadraginta solidi annui redditus sibi et dicto altari et nichil reperisse in dicta terra distringibile pro dicto annuo redditu recuperando preter terram et lapides. quos presentauit in curia coram balliuis tanquam secundo die huius processus Testibus Willelmo scherar Duncano patrikson et Willelmo atkynson bedello dicti burgi.', size: "45x15", :style=> "resize: none"%>
     <hr>
     <%= button_tag "Download Archive", :style=>"float: right;"%>
   </div>
 </div>
 </div>
