<div class="container" id="main">
  <div class="col-md-12" style="display: inline-table">
    <div class="col-md-4 vcenter doc-tools">
      <button type="button" name="download" id="doc_download" class="btn btn-info doc-tools" disabled="disabled">
        <%= fa_icon "download", text: "Download"%>
      </button>
      <% if user_signed_in? and current_user.admin? %>
      <button type="button" name="delete" id="doc_delete" class="btn btn-danger doc-tools" disabled="disabled">
        <%= fa_icon "remove", text: "Delete"%>
      </button>
      <%end%>
    </div>
    <div class="col-md-4 vcenter text-center">
      <h3 id="doc-title"></h3>
    </div>
    <div class="col-md-4 vcenter text-right">
        <div class="col-md-6">
          <a href="#" id="doc_view" class="btn btn-primary doc-tools">
            <i class="fa fa-book" aria-hidden="true"></i> View Page
          </a>
        </div>
      <% if user_signed_in? and current_user.admin? %>
        <div class="col-md-6">
            <a href="<%= doc_new_path %>" class="btn btn-primary doc-tools" id="doc-new">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> New Document
            </a>
        </div>
      <%end%>
    </div>
  </div>

  <hr class="col-md-12">

  <div class="col-md-12" id="doc-browse">
    <div class="col-md-2 well">
      <div id="volume"></div>
    </div>
    <div class="col-md-2 well" style="max-height: 500px; overflow-y:auto;">
        <div id="page"></div>
    </div>
    <div class="col-md-8 well" style="max-height: 500px; overflow-y:auto;">
      <div id="transcriptions"></div>
    </div>
  </div>

</div> <!-- /.container -->

<iframe id="file_download" style="display:none;"></iframe>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "documents_browse.js" %>
<% end %>
