<% content_for :stylesheet_includes do %>
	<%= stylesheet_link_tag    'histei/annotation.css' %>
<% end %>
<div class="container">
  <%= render "documents/page"%>
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "documents_selected.js" %>
<% end %>
