<hr />
<div class="panel panel-primary">
	<div class="panel-heading">
		<strong><%= @document.title %></strong>
	</div>
	<div class="panel-body">
		<%= @document.content %>
	</div>
</div>
<%= link_to 'Back', doc_path, class: "btn btn-default" %>
